DATABASE_URL=sqlite:///./database.db

DEBUG=True

SECRET_KEY=sua-chave-secreta-aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

FIREBASE_CREDENTIALS=app/credentials/firebase/canetas-que-mudam-o-mundo-firebase-adminsdk-fbsvc-1d76d6070e.json
FIREBASE_STORAGE_BUCKET=canetas-que-mudam-o-mundo.firebasestorage.app 

MAIL_USER=noreply.natasha@gmail.com 
MAIL_PASSWORD=mlrtmatjhgujuusu
MAIL_FROM=noreply.natasha@gmail.com

FRONTEND_URL=http://localhost:5173

CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]
